.App {
  font-family: 'Montserrat';
}
.container-fluid {
  /* background-color: rgb(227, 212, 216); */
  /* min-height: 600px; */
  background: linear-gradient(rgba(227, 212, 216, .7), rgba(227, 212, 216, .5)), url('https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  height: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight:400;
  color: black;
}

input {
  font-family: 'Montserrat';
  font-size: 16px;
}

h1 {
  font-family: "Barrio", "sans-serif";
}

h2 {
  font-family: "Barrio", "sans-serif";
  font-size: 36px;
  padding: 50px;
  text-align: center;
}

h3 {
  font-family: "Barrio", "sans-serif";
}

.btn:hover {
  border: 2px solid blue ;
}