.App {
  font-family: 'Montserrat';
}
.container-fluid {
  background-color: rgb(227, 212, 216);
  min-height: 600px;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight:400;
  color: black;
}

input {
  font-family: 'Montserrat';
  font-size: 16px;
}

h1 {
  font-family: "Barrio", "sans-serif";
}

h2 {
  font-family: "Barrio", "sans-serif";
  font-size: 36px;
  padding: 50px;
  text-align: center;
}

h3 {
  font-family: "Barrio", "sans-serif";
}

.btn:hover {
  border: 2px solid blue ;
}