.form-group label {
  font-family: "Barrio", "sans-serif";
  text-shadow: 2px 2px coral;
  font-size: 44px;
  padding: 50px;
  text-align: center;
}

.form-group p {
  text-shadow: 0px 0px;
  font-family: "Montserrat", "sans-serif";
  font-size: 38px;
  font-weight: 600;
  color: blue;
  text-align: center;
}

