nav {
    font-family: "Barrio", "sans-serif";
}

.navbar-brand {
    font-size: 40px;
    margin-left: 20px;
}

#navbarNav {
    justify-content: right;
    
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    letter-spacing: 2px;
  }

.nav-item:hover {
    font-size: 20px;
    }


