.RecipeDetail h3 {
  margin-top: 20px;
}
.RecipeDetail .col img {
  margin: 0px auto;
  width: 80%;
  max-height: 100%;
  object-fit: cover;
  background-size: cover; 
  background-position: center;
  border: 5px double #01267b; 
  border-radius: 15px;
  box-shadow: 5px 10px #e8a456;
}

.RecipeDetail .col button {
  margin-top: 20px;
}

.RecipeDetail h6 {
  font-weight: 600;
}



